@import 'reset';

html {
	font-size: 62.5%;
	
}

body {

}

.title {
	font-family: 'Wire One', sans-serif;
	font-size: 14rem;
	text-align: left;
	letter-spacing: 1.6rem;
	padding-top: 15rem;
	color: white;
	width: 48rem;
	margin: 0 auto;
	font-weight: 300;
}

.subtext {
	font-family: 'Lora', serif;
	color: white;
	text-align: left;
	font-size: 1.8rem;
	padding-top: 3rem;
	width: 48rem;
	margin: 0 auto;
	line-height: 2.5rem;
}

input:focus {
	outline: none; 
}

.body-container {
	height: 100vh;

	background-image: url(../img/bento.jpg);

	-webkit-background-size: cover;
  		-moz-background-size: cover;
  			-o-background-size: cover;
  	background-size: cover;

	-webkit-transition: background-image 1.5s linear;
	-moz-transition: background-image 1.5s linear;
	-o-transition: background-image 1.5s linear;
	-ms-transition: background-image 1.5s linear;
	transition: background-image 1.5s linear;
}

.gradient {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	z-index: 2;
	height: 100vh;
}

.container {
  	margin: 0 auto;
  	padding-top: 8rem;
	overflow: hidden;
	width: 40rem;
	vertical-align: middle;
	white-space: nowrap;
}

.container input#search {
	width: 30rem;
	height: 5rem;
	background: white;
	border: none;
	font-size: 1.4rem;
	float: left;
	padding-left: 1.5rem;
}

$button-color: #CFCFCF;

.container input#search::-webkit-input-placeholder {
   	color: $button-color;
}
 
.container input#search:-moz-placeholder { /* Firefox 18- */
   	color: $button-color;  
}
 
.container input#search::-moz-placeholder {  /* Firefox 19+ */
   	color: $button-color;  
}
 
.container input#search:-ms-input-placeholder {  
   	color: $button-color;  
}
 
.container:hover button.icon:hover{
   	background: white;
}

.icon{
  	font-size: 1.2rem;
  	letter-spacing: 3px;
  	outline: none;
  	opacity: 1;
  	border: none;
  	background: #232833;
  	height: 5rem;
  	width: 10rem;
  	color: #CFCFCF;
}



.contact {
	width: 100%;
	background-color: #364447;
	height: 15rem;
	font-size: 1.5rem;

	p {
		line-height: 15rem;
		color: white;
		text-align: center;
	}

	a {
		color: white;
	}

	a:visited {
		color: white;
	}

	a:hover {
		color: red;
	}

}

.row-three-col {
	width: 100rem;
	margin: 0 auto;
}

.three-col {
	float: left;
	width: 33.3%;
	margin: 0 auto;
	
}