/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  background: black; }

a {
  text-decoration: none; }

a:hover {
  color: #2478FA; }

.searchPage {
  display: table-cell;
  vertical-align: middle; }

.title {
  font-family: "Wire One", sans-serif;
  font-size: 14rem;
  text-align: left;
  letter-spacing: 1.6rem;
  color: white;
  width: 50rem;
  margin: 0 auto;
  font-weight: 300; }

.subtext {
  font-family: "Lora", serif;
  color: white;
  text-align: left;
  font-size: 1.8rem;
  padding-top: 3rem;
  width: 50rem;
  margin: 0 auto;
  line-height: 2.6rem; }

input:focus {
  outline: none; }

.body-container {
  width: 100%;
  position: relative; }

.table-container {
  display: table;
  height: 100vh;
  min-height: 65rem;
  margin: 0 auto; }

.container {
  margin: 0 auto;
  padding-top: 8rem;
  overflow: hidden;
  width: 45rem;
  vertical-align: middle;
  white-space: nowrap; }

#search {
  width: 35rem;
  height: 5rem;
  background: white;
  border: none;
  font-size: 1.4rem;
  float: left;
  padding-left: 1.5rem; }

#search::-webkit-input-placeholder {
  color: #CFCFCF; }

#search:-moz-placeholder {
  /* Firefox 18- */
  color: #CFCFCF; }

#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #CFCFCF; }

#search:-ms-input-placeholder {
  color: #CFCFCF; }

.button:hover {
  background: white; }

.button {
  font-size: 1.2rem;
  letter-spacing: 3px;
  outline: none;
  opacity: 1;
  border: none;
  background: #232833;
  height: 5rem;
  width: 10rem;
  color: #CFCFCF; }

.loading-bar {
  background: rgba(0, 0, 0, 0.5) url("/img/loading.gif") no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }

.contact {
  width: 100%;
  background-color: #364447;
  height: 15rem;
  font-size: 1.5rem; }
  .contact p {
    line-height: 15rem;
    color: white;
    text-align: center; }
  .contact a {
    color: white; }
  .contact a:visited {
    color: white; }
  .contact a:hover {
    color: #2478FA; }

.row-three-col {
  width: 100rem;
  margin: 0 auto; }

.three-col {
  float: left;
  width: 33.3%;
  margin: 0 auto; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

::-moz-placeholder {
  opacity: 1; }

/* FF 19+ */
:-moz-placeholder {
  opacity: 1; }

/* FF 18- */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  box-shadow: none; }

@media screen and (max-width: 1000px) {
  .contact p {
    line-height: 5rem; }

  .row-three-col {
    width: 100%;
    display: block; }

  .three-col {
    float: none;
    line-height: 5rem;
    width: 100%; } }
@media screen and (max-width: 500px) {
  .table-container {
    min-height: 50rem; }

  .title {
    font-size: 8rem;
    letter-spacing: 1.2rem;
    width: 31rem; }

  .subtext {
    font-size: 1.5rem;
    width: 31rem;
    line-height: 2.4rem; }

  .container {
    width: 31rem;
    padding-top: 5rem; }

  #search {
    width: 23rem;
    font-size: 1rem; }

  .button {
    width: 8rem; } }
html, body {
  width: 100%;
  overflow-x: hidden; }

.cb-slideshow {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow li span {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  -o-animation: imageAnimation 24s linear infinite 0s;
  -ms-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bento.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bolognese_meal.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/cooked_salmon.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dessert.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  12% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out; }
  26% {
    opacity: 1; }
  38% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in; }
  12% {
    opacity: 1;
    -moz-animation-timing-function: ease-out; }
  26% {
    opacity: 1; }
  38% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in; }
  12% {
    opacity: 1;
    -o-animation-timing-function: ease-out; }
  26% {
    opacity: 1; }
  38% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in; }
  12% {
    opacity: 1;
    -ms-animation-timing-function: ease-out; }
  26% {
    opacity: 1; }
  38% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  12% {
    opacity: 1;
    animation-timing-function: ease-out; }
  26% {
    opacity: 1; }
  38% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
