restaurant-info, no-info {
  display: table-cell;
  vertical-align: middle;
  
}

.no-data {
  font-size: 4rem;
  text-align: center;
  padding: 4rem 0;
  font-family: wire one;
}

.results-box {
  margin: 0 auto;
  width: 60rem;
}

.results-container {
  width: 60rem;
  background-color: white;
}

.results-container:after {
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.results-titlebar {
  border-bottom: black .1rem solid;
}

.name {
    font-family: "Wire One", sans-serif;
    font-size: 5rem;
    padding: 1rem;
    letter-spacing: .2rem;
}

.results-back {
  float: right;
  margin: 1rem;
}

.image {
  margin: 1rem;
  float: left;
}

.snippet-title {
  font-family: "Wire One", sans-serif;
  font-size: 3.5rem;
  margin-left: 1rem;
}

.snippet {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 1rem;
  margin-bottom: 1rem;
  font-family: "Lora", serif;
}

.snippet-link {
  color: black;
  text-decoration: underline;
}

.info-container {
  margin-top: 1rem;
  max-width: 32rem;
  float: left;
  font-family: "Lora", serif;
}

.small-info-row {
  font-family: "Wire One", sans-serif;
  text-align: center;
}

.small-info {
  font-size: 2.5rem;
  padding: 1rem;
  border: black .1rem solid;
  margin: .5rem;
  letter-spacing: .15rem;
  display: inline-block;
  vertical-align: top;
}

.rating {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.review-count {
  font-size: 1rem;
  font-family: "Lora", serif;
  letter-spacing: 0;
}

.address {
  font-size: 1.3rem;
  margin: 0 1rem;
  margin-top: 1rem;
  text-align: center;
}

.yelp-link {
  display: block;
  margin: 1rem auto;
  width: 10rem;
}

.yelp-logo {
  float: right;
}

@media screen and (max-width: 600px) {
  .results-box {
    width: 30rem;
  }

  .results-container {
    width: 30rem;
  }
  
  .image {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    float: none;
  }

  .yelp-link {
    width: 8rem;

  }

}
